<div class="card" style="width: 18rem;">
    <img src="image/pic.png" class="card-img-top" alt="haha">
    <div class="card-body" >
      <h5 class="card-title" >Foulen Fouleni</h5>
      <p class="card-text">You can contact Foulen Fouleni for anything you want ask for </p>
    </div>
  </div>